<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        <!-- Bootstrap core CSS -->
        {% block stylesheets %}    
            {% stylesheets output="css/compiled/main.css" filter="cssrewrite"
                'bootstrap/css/bootstrap.min.css'
                'css/style.css'
                'css/GBUserBundleStyle.css'
            %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
            <!-- Custom styles for this template -->
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css"
                  integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1"
                  crossorigin="anonymous">
            <link href="https://fonts.googleapis.com/css?family=Carter+One|Libre+Baskerville" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        {% if form is defined %}
            {% form_theme form '_form_errors.html.twig' %}
        {% endif %}

        {{ include("_nav.html.twig") }}

        {% for message in app.session.flashbag.get('info') %}
            <div class="alert alert-primary" role="alert">
                <p><strong>{{ message }}</strong></p>
            </div>
        {% endfor %}
        {% for message in app.session.flashbag.get('notice') %}
            <div class="alert alert-warning" role="alert">
                <p><strong>{{ message }}</strong></p>
            </div>
        {% endfor %}
        {% for message in app.session.flashbag.get('error') %}
            <div class="alert alert-danger" role="alert">
                <p><strong>{{ message }}</strong></p>
            </div>
        {% endfor %}
        {% for message in app.session.flashbag.get('success') %}
            <div class="alert alert-success" role="alert">
                <p><strong>{{ message }}</strong></p>
            </div>
        {% endfor %}

    {% block body %}{% endblock %}

    <footer class="py-5 bg-dark">
        <div class="container">
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    {% block javascripts %}
        {% javascripts output="js/compiled/main.js"
            'js/jquery.min.js'
            'js/bootstrap.min.js'
        %}
        <script src="{{ asset_url }}"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                if (!(document.querySelector('.js-trick-list') === null)) {       
                    var tricklist = document.querySelector('.js-trick-list');
                    var nbtrickdisplayed = parseInt(tricklist.dataset.nbDisplayed);
                }
                
                if (!(document.querySelector('.js-comment-list') === null)) {
                    var commentlist = document.querySelector('.js-comment-list');
                    var nbcommentdisplayed = parseInt(commentlist.dataset.nbDisplayed);
                }
                
                $("#displayMoreTricks").click(function () {
                    var tricks = document.getElementsByClassName('trick');
                    nbtrickdisplayed = nbtrickdisplayed + nbtrickdisplayed;
                    k = nbtrickdisplayed;
                    if (nbtrickdisplayed >= tricks.length) {
                        $("#displayMoreTricks").addClass("invisible");
                        k = tricks.length;
                    }
                    for (var i = 0; i < k; i++) {	
                        if (tricks[i].classList.contains("invisible")) {
                            tricks[i].classList.remove("invisible");
                        }
                    }
                    if ($("#pullUp").hasClass("invisible")) {
                            $("#pullUp").removeClass("invisible");
                    }
                });

                $("#displayMoreComments").click(function () {
                    var comments = document.getElementsByClassName('comment');
                    nbcommentdisplayed = nbcommentdisplayed + nbcommentdisplayed;
                    var j = nbcommentdisplayed;
                    if (nbcommentdisplayed >= comments.length) {
                        $("#displayMoreComments").addClass("invisible");
                        j = comments.length;
                    }
                    for (var i = 0; i < j; i++) {	
                        if (comments[i].classList.contains("invisible")) {
                            comments[i].classList.remove("invisible");
                        }
                    }
                });

                $("#displayMedia").click(function () {
                    $("#mediaContent").removeClass("d-none");
                    $("#mediaContent").addClass("d-flex");
                    $("#displayMedia").addClass("d-none");
                });
                
            });
        </script>
        {% endjavascripts %}
    {% endblock %}

</body>
</html>
