{# src/GB/UserBundle/Resources/views/User/login.html.twig #}

{% extends "admin/_admin_layout.html.twig" %}

{% block title %}Snowtricks: Connection{% endblock %}

{% block content %}
    <div class="row well">
        <div class="col-sm-12 col-md-6">
            <form class="class': 'needs-validation" action="{{ path('login') }}" method="post">
                <div>
                    <H2>Vous avez un compte :</H2>
                </div>
                {% if message %}
                <div>
                    <p class="alert alert-danger" role="alert">{{ message|trans }}</p>
                </div>
                {% endif %}
                <div class="form-group">
                    <label class="col-form-label col-form-label-sm" for="username">
                        Nom d'utilisateur :
                    </label>
                    <input class="form-control" id="username" name="_username" type="text" value="{{ last_username }}">
                </div>
                <div class="form-group">
                    <label class="col-form-label col-form-label-sm" for="password">
                        Mot de passe :
                    </label>
                    <input class="form-control" id="password" name="_password" type="password">
                    <a href='{{ path('forgot_password') }}'>Mot de passe oublié?</a>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" />Se connecter</button>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            </form>
        </div>
        <div class="col-sm-12 col-md-6 cesure">     
            <div>
                <H2>Vous n'êtes pas inscrit :</H2>
            </div>
            <div class="container subscribe d-flex justify-content-center flex-wrap">
                <a href="{{ path('registration') }}" id="add_picture" class="btn btn-secondary d-block align-self-center"><h3>Inscription</h3></a>
            </div>
        </div>    
    </div>
{% endblock %}
