{{ form_start(form, {'attr': {'class': 'col-12 col-lg-6' } }) }}

{{ form_errors(form) }}
<div class="form-group">
    {{ form_label(form.content, "Votre message :") }}
    {{ form_widget(form.content) }}
    {{ form_errors(form.content) }}
</div>

<input type="submit" class="btn btn-primary" value="Envoyer" />

{{ form_rest(form) }}

{{ form_end(form) }}