<div class="well">
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        
    {{ form_errors(form) }}    
    <div class="form-row">
        <div class="col md-4 mb-3">
            {{ form_row(form.name) }}
        </div>
        <div class="col md-4 mb-3">
            {{ form_row(form.save, {'attr': {'class': 'btn-primary'}}) }}
        </div>
    </div>
    {{ form_row(form.description) }}
    
    {{ form_row(form.category) }}
    <hr>
    <div class="row">
        <div class="d-flex bd-highlight mb-3">
            <div class="bd-highlight">
                <H3>Images :</H3>
            </div>
            <div class="ml-auto bd-highlight">
                <a href="#" id="add_picture" class="btn btn-secondary">Ajouter une Photo</a>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-around" id="gb_tricksbundle_trick_pictures_list" data-prototype="{{ form_widget(form.pictures.vars.prototype)|e }}">    
        {% for picture in form.pictures %}        
            <div class="trick col-lg-3 col-md-4 col-sm-12">
                <div class="row">
                    <img class="img-fluid" src="{{ asset(picture.vars.value.webpath) }}" alt="{{ asset(picture.vars.value.url) }}">                
                </div>
                <div class="row">
                    <div class="custom-file">
                        {{ form_widget(picture.file, {'attr': {'class': 'custom-file-input', 'lang': 'fr'} }) }}
                        {{ form_label(picture.file, "Charger", {'label_attr': {'class': 'custom-file-label'} }) }}                        
                        {{ form_errors(picture.file, {'attr': {'class': 'invalid-feedback'} }) }}
                    </div>
                </div>
            </div>
        {% endfor %}        
    </div>
    <hr>
    <div id="gb_tricksbundle_trick_videos_list" data-prototype="{{ form_widget(form.videos.vars.prototype)|e }}">        
        <H3>Videos :</H3><a href="#" id="add_video" class="btn btn-default">Ajouter une Video</a>
        {% for video in form.videos %}        
            <div class="img-fluid img-thumbnail d-block mb-4">
                {{ form_widget(video) }}
            </div>
        {% endfor %}        
    </div>
    
    {{ form_rest(form) }}
    
    {{ form_end(form) }}
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>    
<script type="text/javascript">
$(document).ready(function() {
    // On récupère la balise <div> en question qui contient l'attribut qui nous intéresse.
    var $container = $('div#gb_tricksbundle_trick_pictures_list');

    // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
    var index = $container.find(':input').length;

    // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
    $('#add_picture').click(function(e) {
      addPicture($container);

      e.preventDefault(); // évite qu'un # apparaisse dans l'URL
      return false;
    });

    // On ajoute un premier champ automatiquement s'il n'en existe pas déjà un (cas d'une nouvelle annonce par exemple).
    if (index == 0) {
      addPicture($container);
    } else {
      // S'il existe déjà des images, on ajoute un lien de suppression pour chacune d'entre elles
      $container.children('div').each(function() {
        addDeleteLink($(this));
      });
    }
// La fonction qui ajoute un formulaire CategoryType
    function addPicture($container) {
      // Dans le contenu de l'attribut « data-prototype », on remplace :
      // - le texte "__name__label__" qu'il contient par le label du champ
      // - le texte "__name__" qu'il contient par le numéro du champ
      var template = $container.attr('data-prototype')
        .replace(/__name__label__/g, 'Picture n°' + (index+1))
        .replace(/__name__/g,        index)
      ;

      // On crée un objet jquery qui contient ce template
      var $prototype = $(template);

      // On ajoute au prototype un lien pour pouvoir supprimer la catégorie
      addDeleteLink($prototype);

      // On ajoute le prototype modifié à la fin de la balise <div>
      $container.append($prototype);

      // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
      index++;
    }


    // La fonction qui ajoute un lien de suppression d'une catégorie
    function addDeleteLink($prototype) {
      // Création du lien
      var $deleteLink = $('\
<div class="row">\n\
<a href="#" class="btn btn-danger btn-block">\n\
<button type="button" class="btn btn-danger btn-block">\n\
<span class="fas fa-trash-alt">\n\
</span>\n\
</button></a>\n\
</div>');

      // Ajout du lien
      $prototype.append($deleteLink);

      // Ajout du listener sur le clic du lien pour effectivement supprimer la catégorie
      $deleteLink.click(function(e) {
        $prototype.remove();

        e.preventDefault(); // évite qu'un # apparaisse dans l'URL
        return false;
      });
    }
  });
  
  $(document).ready(function() {
    // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
    var $container = $('div#gb_tricksbundle_trick_videos_list');

    // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
    var index = $container.find(':input').length;

    // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
    $('#add_video').click(function(e) {
      addVideo($container);

      e.preventDefault(); // évite qu'un # apparaisse dans l'URL
      return false;
    });

    // On ajoute un premier champ automatiquement s'il n'en existe pas déjà un (cas d'une nouvelle annonce par exemple).
    if (index == 0) {
      addVideo($container);
    } else {
      // S'il existe déjà des catégories, on ajoute un lien de suppression pour chacune d'entre elles
      $container.children('div').each(function() {
        addDeleteLink($(this));
      });
    }

    // La fonction qui ajoute un formulaire CategoryType
    function addVideo($container) {
      // Dans le contenu de l'attribut « data-prototype », on remplace :
      // - le texte "__name__label__" qu'il contient par le label du champ
      // - le texte "__name__" qu'il contient par le numéro du champ
      var template = $container.attr('data-prototype')
        .replace(/__name__label__/g, 'Video n°' + (index+1))
        .replace(/__name__/g,        index)
      ;

      // On crée un objet jquery qui contient ce template
      var $prototype = $(template);

      // On ajoute au prototype un lien pour pouvoir supprimer la catégorie
      addDeleteLink($prototype);

      // On ajoute le prototype modifié à la fin de la balise <div>
      $container.append($prototype);

      // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
      index++;
    }

    // La fonction qui ajoute un lien de suppression d'une catégorie
    function addDeleteLink($prototype) {
      // Création du lien
      var $deleteLink = $('<a href="#" class="btn btn-danger">Supprimer</a>');

      // Ajout du lien
      $prototype.append($deleteLink);

      // Ajout du listener sur le clic du lien pour effectivement supprimer la catégorie
      $deleteLink.click(function(e) {
        $prototype.remove();

        e.preventDefault(); // évite qu'un # apparaisse dans l'URL
        return false;
      });
    }
  });
  
</script>