{% extends "GBTricksBundle::layout.html.twig" %}

{% block body %}
    <!-- Header with Background Image -->
    {% if trick.pictures.first %}
    <div class="container" id="frontPicture">
        <div class="row justify-content-center">
            <img src="{{ asset(trick.pictures.first.webpath) }}" 
                 alt="{{ trick.pictures.first.url }}">
        </div>
    </div>
    {% endif %}

    <!-- Page Content -->
    <div class="container" id="content">
        <!-- Description -->
        <div class="row text-center text-lg-left">
            <div class="align-items-center">
                <h1>{{ trick.name }}</h1>
                <p>{{ trick.description }}</p>
            </div>
        </div>

        <!-- Border -->
        <hr>    

        <!-- Pictures & Videos -->
        <div class="row text-center text-lg-left d-flex align-items-start">
            {% if trick.pictures.first %}
                {% for picture in trick.pictures %}
                    <div class="trickshow">
                        <div>
                            <img class="img-fluid" src="{{ asset(picture.webpath) }}" alt="{{ picture.url }}">
                        </div>
                    </div>
                {% endfor %}
            {% endif %}

            {% if trick.videos.first %}
                {% for video in trick.videos %}
                    <div class=" embed-responsive embed-responsive-4by3 col-lg-3 col-md-4 col-xs-12">
                        <iframe class="embed-responsive-item"
                                src="{{ video.url }}" 
                                allowfullscreen>
                        </iframe>            
                    </div>
                {% endfor %}
            {% endif %}
        </div> 

        <!-- Border -->
        <hr>

        <!-- Message form & Messages-->
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <div class="row text-center text-lg-left">
                {% include "GBTricksBundle:Trick:messageForm.html.twig" %}
            </div>
            <hr>
        {% endif %}
        {% for message in messages %}
            <div class="media">
                <img class="mr-3" src="{{ asset(message.user.webPath) }}" alt="{{ message.user.userName }}">
                <div class="media-body">
                    <h5 class="mt-0">{{ message.user.userName }} / Le {{ message.date | date('d/m/Y') }} à {{ message.date | date('H:i') }}</h5>
                    <p>{{ message.content }}</p>
                </div>
            </div>  
        {% endfor %}

    </div>     
{% endblock %}