{% extends "tricks/_tricks_layout.html.twig" %}

{% block title %}Snowtricks: Accueil{% endblock %}

{% block body %}
    <!-- Banner -->       
    <div class="jumbotron row d-flex align-items-center" id="banner">
        <div class="col-12">
            <div class="col-12 d-flex justify-content-center">
                <img src="{{ asset('pictures/logo.png') }}" alt='logo'>
            </div>
            <div class="col-12 d-flex justify-content-center">
                <H1 id="title">Un style pour chacun, Une passion pour tous.</H1>   
            </div>
        </div>
        <div class="col-12 d-flex align-self-center justify-content-end">
            <a href="#Bienvenue" class="btn btn-warning " role="button">               
                <H2 class><span class="fas fa-arrow-circle-down"></span> Lance toi!</H2>
            </a>
        </div>
    </div>

    <!-- Page Content -->
    <div class="container">
        <div id="Bienvenue" class="row">
            <div class="col-lg-6 col-md-12">
                <h1 class="text-center text-lg-left">Bienvenue dans la communauté Snowtricks :</h1>
                <p>Viens découvrir notre univers de la glisse et nous montrer comment tu voles.
                    Nous sommes nombreux à partager notre penchant et notre talent pour le snowboard.<br>
                    Dans notre site tu auras accès à notre bibliothèque de figures.
                    Inscrit toi dans notre communauté pour nous donner ton avis sur les figures existantes et en insérer de nouvelles. 
                </p> 
            </div>
            <div class="col-lg-6 col-md-12 d-flex justify-content-center">
                <img src="{{ asset('pictures/presentation.jpg') }}" alt="community">
            </div>    
        </div>
        <hr id="tricksection">       
        <div class="row justify-content-center title">
            <H1>Les Figures</H1>
        </div>
        <div class="row d-flex justify-content-center justify-content-md-around js-trick-list" data-nb-displayed="{% if not tricks is empty %}{{ constant('QTY_PER_LOAD', tricks[0]) }}{% endif %}">
            {% for trick in tricks %}
                <div class="trick col-12 col-md-4 col-lg-3 {% if trick.id > constant('QTY_PER_LOAD', trick) %}invisible{% endif %}">
                    <div class="row">
                        <a class="card text-white text-center " href="{{ path('trick_show', {'trick_id' : trick.id}) }}">
                            <img class="card-img-top img-fluid" alt="{{ trick.name }}" 
                                 src="{% if trick.pictures.first and trick.frontImage %}{{ asset(trick.pictures[trick.frontImage - 1].webpath) }}
                            {% else %}{{ asset('pictures/tricksDefault.jpg') }}
                                {% endif %}">
                                <div class="card-img-overlay d-flex align-items-center justify-content-center nowrap">                           
                                    <h2>{{ trick.name }}</h2>
                                </div>
                            </a>
                    </div>
                    {% if is_granted('ROLE_USER') %}
                        <div class="row">
                            <p></p>
                            <div class="col-6" id="button">
                                <button type="button" class="btn btn-danger btn-block" data-toggle="modal" data-target="#Suppresstrick{{ trick.id }}">
                                    <span class="fas fa-trash-alt"></span>
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="Suppresstrick{{ trick.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalCenterTitle">Suppression : {{ trick.name }}</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Êtes vous sûr de vouloir supprimer cette figure?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                                                <a class="suppressTrick" href="{{ path('trick_delete', {'trick_id' : trick.id, 'token' : csrf_token('delete-trick')}) }}">
                                                    <button type="button" class="btn btn-danger">Oui</button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6" id="button">        
                                <a  href="{{ path('trick_modify', {'trick_id' : trick.id}) }}">
                                    <button type="button" class="btn btn-warning btn-block">
                                        <span class="fas fa-pencil-alt"></span> 
                                    </button>
                                </a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <div class="row d-flex justify-content-around loadMore">
            <button type="button" id="displayMoreTricks" class="btn btn-primary btn-lg">
                Plus de figures 
            </button>
        </div> 
        <div id="pullUp" class="row d-flex justify-content-center justify-content-md-end pullUp invisible">
            <a href="#tricksection">
                <button type="button" class="btn btn-warning btn-block btn-lg">
                    <span class="fas fa-arrow-circle-up fa-3x"></span> 
                </button>
            </a>
        </div>   
    </div>
{% endblock %}
