<div class="well">
    {{ form_start(form, {'attr': {'class': 'form-horizontal'} }) }}
    <div class="row d-flex bd-highlight mb-3">
        <div class="bd-highlight">
            <H2>Contenu :</H2>
        </div>
        <div class="ml-auto bd-highlight">
            <button type="submit" class="btn btn-primary" name="save" />Enregistrer</button>
        </div>
    </div>

    {{ form_errors(form) }}    
    <div class="form-row">
        <div class="col-md-4 md-4 mb-3">
            {{ form_label(form.name, "Nom de la figure :", {'label_attr': {'class': 'col-form-label col-form-label-sm'} }) }}
            {{ form_widget(form.name) }}
            {{ form_errors(form.name) }}
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-4 md-4 mb-3">
            {{ form_label(form.category, "Catégories :", {'label_attr': {'class': 'col-form-label col-form-label-sm'} }) }}
            {{ form_widget(form.category) }}
            {{ form_errors(form.category) }}
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 md-4 mb-3">
            {{ form_label(form.description, "Description :", {'label_attr': {'class': 'col-form-label col-form-label-sm'} }) }}
            {{ form_widget(form.description) }}
            {{ form_errors(form.description) }}
        </div>
    </div>
    <hr>
    <div class="row d-flex bd-highlight mb-3">
        <div class="bd-highlight">
            <H2>Images :</H2>
        </div>
        <div class="ml-auto bd-highlight">
            <a href="#" id="add_picture" class="btn btn-secondary">Ajouter une Photo</a>
        </div>
    </div>
    <div class="row d-flex justify-content-around" id="gb_tricksbundle_trick_pictures_list" data-prototype="
         {% filter escape %}
             {% include 'tricks/forms/_picture_dataprototype.html.twig' %}
         {% endfilter %}    
         ">    
        {% for picture in form.pictures %}        
            <div class="trick col-lg-3 col-md-4 col-sm-12">
                <div class="row">
                    <img class="img-fluid img-form" src="{{ asset(picture.vars.value.webpath) }}" alt="{{ asset(picture.vars.value.url) }}">                
                </div>
                <div class="row">
                    {{ form_widget(picture.file, { 'attr': {'class': 'input-group-btn btn btn-secondary'} }) }}
                    {{ form_errors(picture.file) }}
                </div>
            </div>
        {% endfor %}        
    </div>
    <hr>
    <div class="row d-flex bd-highlight mb-3">
        <div class="bd-highlight">
            <H2>Videos :</H2>
        </div>
        <div class="ml-auto bd-highlight">
            <a href="#" id="add_video" class="btn btn-secondary">Ajouter une Video</a>
        </div>
    </div>
    <div id="gb_tricksbundle_trick_videos_list" data-prototype="
         {% filter escape %}
             {% include 'tricks/forms/_video_dataprototype.html.twig' %}
         {% endfilter %}
         ">        
        {% for video in form.videos %}        
            <div class="form-group row">
                {{ form_label(video.url, 'Lien URL :', {'label_attr': {'class': 'col-form-label col-form-label-sm'} }) }}
                <div class="col-sm-7 col-xs-6">
                    {{ form_widget(video.url, {'attr': {'class': 'form-control form-control-sm', 'placeholder': 'col-form-label-sm'} } ) }}
                    {{ form_errors(video.url) }}
                </div>
            </div>
        {% endfor %}        
    </div>

    <div class="hidden">
        {{ form_rest(form) }}
    </div>
    {{ form_end(form) }}
</div>